LOG_LEVEL=debug
PORT=3000
OPENAPI_HOST=http://localhost:3000
# For GitHub Codespaces
# OPENAPI_HOST=https://$CODESPACE_NAME-$PORT.$GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN
OPENAPI_VISIBLE=false
DATABASE_FILE=database.sqlite
SEED_DATA=false
BYPASS_AUTH=false
SESSION_NAME=example-session
# require('crypto').randomBytes(64).toString('hex')
SESSION_SECRET=example_secret
JWT_SECRET_KEY=example_secret
CAS_URL=https://testcas.cs.ksu.edu
# For GitHub Codespaces
# CAS_SERVICE_URL=https://$CODESPACE_NAME-5173.$GITHUB_CODESPACES_PORT_FORWARDING_DOMAIN